body { background: #a3cc58; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 55px; display: flex; }
.block-uploader-0 { color: #ec153a; font-size: 16px; margin-bottom: 5px; }
.block-database-1 { color: #d1c46c; font-size: 16px; margin-bottom: 5px; }
.block-invoice-2 { color: #a64f0a; font-size: 15px; margin-bottom: 5px; }
.block-logger-3 { color: #f13540; font-size: 18px; margin-bottom: 5px; }
.block-shipping-4 { color: #649b61; font-size: 17px; margin-bottom: 5px; }